ARGOS_CORE_PORT=18090
ARGOS_UI_PORT=13003
ARGOS_POSTGRES_PORT=15436

ARGOS_STORAGE_DIR=../var/outputs
ARGOS_PROCESSING_PYTHON=../processing/python/.venv/bin/python
ARGOS_PROCESSING_PYTHONPATH=../processing/python
ARGOS_PROCESSING_TIMEOUT_SEC=180

